<ion-header>
  <ion-toolbar color="primary">
    <ion-title align="center">
      Profile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content overflow-scroll="true">

    <ion-card>
        <ion-card-header>
          <div>
            <ion-card-title>Hi!</ion-card-title>
          </div>
        </ion-card-header>
        <img src="./assets/image/min.jpg"/>
        <ion-card-content>
          
          <div>Name : Min_chayisara</div>
          <div>Year : Sophomore</div>
          <div>Faculty : Engineering</div>
          <div>Status : Student</div>
          <pre>{{userData | json | async}}</pre>
        </ion-card-content>
      </ion-card>
 
  <ion-button color="secondary" expand="block" routerLink="/login/" routerDirection="forward">Waiting</ion-button>
  <ion-button color="secondary" expand="block" routerLink="/confirmed/" routerDirection="forward">Confirmed</ion-button>
</ion-content>

<ion-footer>
  <ion-tab-bar>
    <ion-tab-button (click)="openTab1WithQueryParams()">
      <ion-icon name="school"></ion-icon>
      <ion-label>Teacher</ion-label>
    </ion-tab-button>
    <ion-tab-button (click)="openTab2WithQueryParams()">
      <ion-icon name="globe"></ion-icon>
      <ion-label>Student</ion-label>
    </ion-tab-button>
    <ion-tab-button (click)="openTab3WithQueryParams()">
      <ion-icon name="person"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-footer>