/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
:root { --ion-color-primary: #ffc777; --ion-color-primary-rgb: 255,199,119; --ion-color-primary-contrast: #000000; --ion-color-primary-contrast-rgb: 0,0,0; --ion-color-primary-shade: #e0af69; --ion-color-primary-tint: #ffcd85; --ion-color-secondary: #ff8647; --ion-color-secondary-rgb: 255,134,71; --ion-color-secondary-contrast: #000000; --ion-color-secondary-contrast-rgb: 0,0,0; --ion-color-secondary-shade: #e0763e; --ion-color-secondary-tint: #ff9259; --ion-color-tertiary: #ffb5af; --ion-color-tertiary-rgb: 255,181,175; --ion-color-tertiary-contrast: #000000; --ion-color-tertiary-contrast-rgb: 0,0,0; --ion-color-tertiary-shade: #e09f9a; --ion-color-tertiary-tint: #ffbcb7; --ion-color-success: #cde9b5; --ion-color-success-rgb: 205,233,181; --ion-color-success-contrast: #000000; --ion-color-success-contrast-rgb: 0,0,0; --ion-color-success-shade: #b4cd9f; --ion-color-success-tint: #d2ebbc; --ion-color-warning: #e392ff; --ion-color-warning-rgb: 227,146,255; --ion-color-warning-contrast: #000000; --ion-color-warning-contrast-rgb: 0,0,0; --ion-color-warning-shade: #c880e0; --ion-color-warning-tint: #e69dff; --ion-color-danger: #ffb5af; --ion-color-danger-rgb: 255,181,175; --ion-color-danger-contrast: #000000; --ion-color-danger-contrast-rgb: 0,0,0; --ion-color-danger-shade: #e09f9a; --ion-color-danger-tint: #ffbcb7; --ion-color-dark: #222428; --ion-color-dark-rgb: 34,34,34; --ion-color-dark-contrast: #ffffff; --ion-color-dark-contrast-rgb: 255,255,255; --ion-color-dark-shade: #1e2023; --ion-color-dark-tint: #383a3e; --ion-color-medium: #989aa2; --ion-color-medium-rgb: 152,154,162; --ion-color-medium-contrast: #ffffff; --ion-color-medium-contrast-rgb: 255,255,255; --ion-color-medium-shade: #86888f; --ion-color-medium-tint: #a2a4ab; --ion-color-light: #f4f5f8; --ion-color-light-rgb: 244,244,244; --ion-color-light-contrast: #000000; --ion-color-light-contrast-rgb: 0,0,0; --ion-color-light-shade: #d7d8da; --ion-color-light-tint: #f5f6f9; }