<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>Confirmed</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-item>
          <ion-icon color="secondary" name="pin" slot="start"></ion-icon>
          <ion-label text-wrap>DIS STR : Generating Function</ion-label>
        </ion-item>
        <ion-card-content>
          <div>
            <ion-icon name="person"></ion-icon> min_chayisara
          </div>
          <div>
            <ion-icon name="people"></ion-icon> 8/10
          </div>
          <div>
            <ion-icon name="logo-bitcoin"></ion-icon> 200฿/person
          </div>
        </ion-card-content>
      </ion-card>
  <ion-button  color="primary" expand="block" [routerLink]="['/tab3']" routerDirection="forward">Back</ion-button>
  <ion-input type="text" [(ngModel)]="personName"></ion-input>
  <ion-button expand="block" fill="clear" (click)="addData(personName)">Send Data to Firestore</ion-button>
</ion-content>